
<div class="container">
   
  <div class="row">
  <header class="col-md-12">
  <img width="100%" src="../assets/images/eee.jpg">
  </header>                    
  </div>

  <div class="row title">
    <div class="col-md-12">
      <h1><b>Metting Record</b></h1>
    </div>
  </div>
  
  <div class="row">
  <nav class="col-md-12">
  <ul class="nav justify-content-end nav-tabs">
    
  <li><a [routerLink]="['/record']"   class="nav-link">Record  Table</a></li>
 
  </ul>
  </nav>  
  
  <div class="col-md-12"><router-outlet></router-outlet> </div>
  </div>
  </div> 
  
